html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(255,255,255);

    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 160%;
    
}

.caption {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-size: large;
}

.pageText {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-size: large;
    padding: 10px;
}

/* #response {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
} */

#responseContainer {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    height:50%;
}

#response {
    width:50%;
}

.imageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#original {
    width:70%;
    max-width: 400px;
}

#voxelized {
    width:70%;
    max-width: 400px;
}

#textured {
    width:70%;
    max-width: 400px;
}

#notTriangulated {
    width: 80%;
    max-width: 400px;
}


#triangulated {
    width: 80%;
    max-width: 400px;
}

#triangle {
    width: 80%;
    max-width: 1000px;
}

#finalResult {
    width: 80%;
    max-width: 1000px;
}

button {
    font-family: 'Roboto Slab', serif;
    border: solid 2px black;
    background-color: white;
    border-radius: 0.35rem;
    cursor: pointer;
    width: 80%;
    height: 80%;
    font-size: auto;
    max-height: 40px;
  }
  
  button:hover {
    background-color: rgb(113, 113, 255);
    border-radius: 0.35rem;
    border: solid 2px black;
    transition: all 0.3s ease-in-out;
  }

  #responseButton {
      margin-top: 20px;
      width:10%
  }

  #MarkContainer {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
  }